<div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://d28hgpri8am2if.cloudfront.net/book_images/onix/interior_spreads/9781782494119/the-scandinavian-home-9781782494119.in03.jpg'); height: 80vh; text-align: center; background-size: cover !important; display: flex; align-items: center; justify-content: center; color: white;">
  <div class="banner-content">
    <br>
    <br>
    <br>
    <br>
    <h1 align="center">Welcome on Beer-BNB <%= @user.email %></h1>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>
