.bookings-container {
  background-size: cover;
  margin: 0;
  padding: 20px;
}

.bookings-container h2 {
  margin: 0px;
  font-size: 30px;
  color: white;
  font-weight: bold;
}

.bookings {
  background-color: rgba(255,255,255,0.7);
  padding: 10px 20px;
  margin: 20px 300px;
}

.bookings h5 {
  opacity: 0.8;
}

#booking-no {
  font-weight: bold;
  font-size: 25px;
}



