body {
  font-weight: 100;
  font-size: 16px;
  line-height: 1.4;
}
h2 {
  font-weight: 200;
  font-size: 25px;
}
#header {
  color: #828282;
  padding: 30px;
}

.wrapper-white {
  background: #FFF;
  padding-top: 30px;
  padding-bottom: 30px;
}
.wrapper-white .description-card {
  background: #FFFFFF;
  padding-top: 10px;
  // margin: 30px;
  // shape-margin: 10px;
  width: 500px
}
.wrapper-white .book-card {
  padding-top: 33px;
  width: 500px
}
.input-lg {
  width: 500px
}
.btn-custom {
  padding: 13px 0;
}
.flat-show-banner {
  color: white;
  text-align: center;
  height: 500px;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.date-inputs {
  display: flex;
  justify-content: space-between;
}
