<div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://d28hgpri8am2if.cloudfront.net/book_images/onix/interior_spreads/9781782494119/the-scandinavian-home-9781782494119.in03.jpg');">
  <div class="banner-content">
    <h1>WELCOME HOME</h1>
    <p>Rent unique places to stay from local hosts in 190+ countries.</p>
    <form action="#" class="form-inline">
      <input type="text" class="form-control input-lg" placeholder="Destination">
      <input type="text" class="form-control input-lg" placeholder="Check In">
      <input type="text" class="form-control input-lg" placeholder="Check Out">
      <select name="" id="guest" class="form-control input-lg">
        <option value="1">1 person</option>
        <option value="2">2 persons</option>
        <option value="3">3 persons</option>
        <option value="4">4 persons</option>
        <option value="5">5 persons</option>
        <option value="6">6 persons</option>
      </select>
      <input type="submit" class="btn btn-lg" value="Search">
    </form>
  </div>
</div>

<div class="main-container">
  <div class="card-container">
    <div class="row">
      <% @flats.each do |flat| %>

      <div class="col-xs-12 col-sm-6 col-md-4, col-lg-3">
        <div class="card text-center">
            <%= link_to flat_path(flat), class: "a" do %>
      <% photo = flat.pictures? ? (cl_image_path flat.pictures[0].path, width: 400, height: 400, crop: :fill) : image_path("flat_pic_placeholder.jpg", height: 300, width: 400, crop: :fill) %>

          <div class="card-header" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= photo %>)"></div>
          <div class="card-category"><h4 class="flat-name"><%= flat.title %></h4></div>
        </div>
      <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>
