<h3 class="alert alert-info">Booking Confirmed! We look forward to welcoming you here.</h3>
<h4>Booking details:</h4>

<h5>Moving in date: <%= @booking.start_date %></h5>

<h5>Moving out date: <%= @booking.end_date %></h5>

<h5>Total charges: £<%= @booking.total_price %></h5>

<% @flat.pictures.each do |picture| %>
  <%= cl_image_tag picture.path, width: 300, height: 200, crop: :fill %>
<% end %>
