.card {
  background: white;
  margin: 15px -5px;
  color: white;
  text-decoration: none;
  opacity: 0.9;
  &:hover,
  &:focus {
    transform: scale3d(1.012, 1.012, 1);
    text-decoration: none;
    opacity: 1;
    &::after {
      opacity: 1;
    }
  }
}
.card-header {
  height: 200px;
  background-size: cover;
}
.card-body {
  padding: 30px;
  color: white;
}
.card-description {
  color: white;
  text-decoration: none;
}
.card p {
  padding-top: 10px;
  text-align: left;
}
.flat-d {
  padding-bottom: 15px;
  color: #484848;
  font-size: 15px;
}
.card .a {
  text-decoration: none;
  color: black;
}
.container {
  background: white;
  width: 100%;
}
