.new-card {
  width: 600px;
  padding: 15px 0;
  background: white;
  align-items: center;
  opacity: 0.95;
}
.white-container {
  // background: url('https://images.pexels.com/photos/54283/pexels-photo-54283.jpeg?w=1500&h=1000'), linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%);
  padding: 10px;
  // display: flex;
  background: url('https://images.pexels.com/photos/207858/pexels-photo-207858.jpeg?w=1500&h=1000');
}

