// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";

.btn-custom {
  background-color: #37b686;
  color: #fff;
  border-radius: 1px;
  opacity: 1;
}

.btn-custom:hover {
  opacity: 0.8;
}

.btn-fullwidth {
  width: 100%;
}
